<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Movie Recommendations</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Top Five Recommended Movies For You</h1>
        <div class="recommendations">
            <ol>
                {% for recommendation in recommendations %}
                <li><b>{{ recommendation[0] }}</b></li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>

</html>